In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('LeagueData.csv')

In [20]:
df.head()

,Name,ID,HP,HP per level,Mana,Mana per level,Movement speed,Armor,Armor per level,MR,MR per level,Range,Range type,HP regen,HP regen per level,Mana regen,Mana regen per level,AD,AD per level,Attack speed
0,Aatrox,1,650,114,0.0,0.0,345,38,4.45,32,2.05,175,Melee,3.00,1.00,0.0,0.0,60,5.00,0.651
1,Ahri,2,570,96,418.0,25.0,330,18,4.70,30,1.30,550,Ranged,2.50,0.60,8.0,0.8,53,3.00,0.668
2,Akali,3,570,119,200.0,0.0,345,23,4.70,37,2.05,125,Melee,9.00,0.90,50.0,0.0,62,3.30,0.625
3,Akshan,4,630,104,350.0,40.0,330,26,4.20,30,1.30,500,Ranged,3.75,0.65,8.2,0.7,52,3.50,0.638
4,Alistar,5,670,120,350.0,40.0,330,44,4.70,32,2.05,125,Melee,8.50,0.85,8.5,0.8,62,3.75,0.625

In [11]:
pd.set_option('display.max_columns', 20)

In [29]:
pd.set_option('display.max_rows', 20)

In [94]:
df.columns

Index(['Name', 'HP', 'HP per level', 'Mana', 'Mana per level',
       'Movement speed', 'Armor', 'Armor per level', 'MR', 'MR per level',
       'Range', 'Range type', 'HP regen', 'HP regen per level', 'Mana regen',
       'Mana regen per level', 'AD', 'AD per level', 'Attack speed'],
      dtype='object')

In [92]:
df.loc[1:7, 'Name':'MR per level']

,Name,HP,HP per level,Mana,Mana per level,Movement speed,Armor,Armor per level,MR,MR per level
ID,,,,,,,,,,
1,Aatrox,650,114,0.0,0.0,345,38,4.45,32,2.05
2,Ahri,570,96,418.0,25.0,330,18,4.70,30,1.30
3,Akali,570,119,200.0,0.0,345,23,4.70,37,2.05
4,Akshan,630,104,350.0,40.0,330,26,4.20,30,1.30
5,Alistar,670,120,350.0,40.0,330,44,4.70,32,2.05
6,Amumu,685,100,285.0,40.0,335,30,4.20,32,2.05
7,Anivia,550,96,495.0,45.0,325,21,5.20,30,1.30

In [124]:
filt = (df['Range type'] == 'Melee') & (df['Armor'] == 30)

In [125]:
df[filt]

,Name,HP,HP per level,Mana,Mana per level,Movement speed,Armor,Armor per level,MR,MR per level,Range,Range type,HP regen,HP regen per level,Mana regen,Mana regen per level,AD,AD per level,Attack speed
ID,,,,,,,,,,,,,,,,,,,
6,Amumu,685,100,285.0,40.0,335,30,4.2,32,2.05,125,Melee,9.0,0.85,7.40,0.55,53,3.8,0.736
112,Shaco,630,99,297.0,40.0,345,30,4.0,32,2.05,125,Melee,8.5,0.55,7.15,0.45,63,3.0,0.694
126,Talon,658,109,377.0,37.0,335,30,4.7,39,2.05,125,Melee,8.5,0.75,7.60,0.80,68,3.1,0.625
142,Vi,655,99,295.0,65.0,340,30,4.7,32,2.05,125,Melee,10.0,1.00,8.00,0.65,63,3.0,0.644
152,Yasuo,590,101,100.0,0.0,345,30,4.6,32,2.05,175,Melee,6.5,0.90,0.00,0.00,60,3.0,0.697

In [126]:
champs = ['Riven', 'Renekton', 'Ornn', 'Yone', 'Leblanc', 'Akali']
filt2 = df['Name'].isin(champs)

In [135]:
df[filt2]

,Name,HP,HP per level,Mana,Mana per level,Movement speed,Armor,Armor per level,MR,MR per level,Range,Range type,HP regen,HP regen per level,Mana regen,Mana regen per level,AD,AD per level,Attack speed
ID,,,,,,,,,,,,,,,,,,,
3,Akali,570,119,200.0,0.0,345,23,4.7,37,2.05,125,Melee,9.0,0.90,50.0,0.0,62,3.30,0.625
91,Ornn,660,109,341.0,65.0,335,33,5.2,32,2.05,175,Melee,9.0,0.90,8.0,0.6,69,3.50,0.625
102,Renekton,660,111,100.0,0.0,345,35,5.2,32,2.05,125,Melee,8.0,0.75,0.0,0.0,69,4.15,0.665
104,Riven,630,100,0.0,0.0,340,33,4.4,32,2.05,125,Melee,8.5,0.50,0.0,0.0,64,3.00,0.625
153,Yone,620,99,500.0,0.0,345,28,4.6,32,2.05,175,Melee,7.5,0.75,0.0,0.0,60,2.00,0.625